.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 0px;
}
.row .row {
  margin-top: 0px;
  margin-bottom: 0;
}



[class*="col-"] {


  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #111;

}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

body {

	background-color: #FFFFFF;

	  padding-top: 20px;
}


.navbar {
  margin-bottom: 20px;
  background-color: #eee;
}

.left_img
{
	float:left;
}
.foot_rt_icon {
	margin-right:10px;
	float:right;
	

}
.foot_rt_icon img{
	width:30px;
	height:30px;

}


 .hdline {
background: url(../img/line.png) repeat-x;
}

.bs-footer {
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;
color: #777;
text-align: left;

border-top: 1px solid #e5e5e5;

}





.brand{
    *border-width: 0;
}
div.col-sm-offset-2{
    _margin-left: 8.8%;
}
.nav li {
    float: left;
}

